# Logs & system files
*.log
.DS_Store
Thumbs.db

# Environment & config
.env
.env.backup
.env.production
auth.json
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# IDE & tool folders
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.vagrant

# Node & vendor
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# Laravel storage
/storage/*.key
/storage/pail
/storage/framework/*
/storage/logs/*
/storage/app/public

# Homestead
Homestead.json
Homestead.yaml

# Laravel specific
bootstrap/compiled.php
public_html/storage
public_html/hot
npm-debug.log
yarn-error.log
